html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #212121;
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #171717;
    padding-top: 60px;
    transition: 0.5s;
    user-select: none;
}

.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    user-select: none;
}

.sidebar a:hover {
    background: #3e3e3e;
}

.toggle-btn {
    position: fixed;
    top: 2px;
    left: 2px;
    font-size: clamp(25px, 2.5vw, 200px);
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
    transition: transform 0.1s ease-in-out;
}
.toggle-btn:hover {
    transform: scale(1.01);
    transform: translateX(3px);
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.sidebar.active {
    left: 0;
}

/* Section Styling */
section {
    height: 100vh; /* Each section takes up the full screen */
    padding: 50px;
}

/* #home { background: lightblue; }
#about { background: lightcoral; }
#services { background: lightgreen; }
#contact { background: lightgoldenrodyellow; } */

::selection {
    background-color: #e68f32; /* Change to your desired background color */
    color: white; /* Change the text color */
}

.adminPanelBtn{
    position: fixed;
    top: 4px;
    right: 13px;
    font-size: clamp(25px, 2.5vw, 200px);
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
    transition: transform 0.1s ease-in-out;
}
.adminPanelBtn:hover {
    transform: scale(1.01);
    transform: translateX(-3px);
}