<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Panel</title>
        <!-- Set Favicon -->
        <link rel="icon" href="favicon.png" type="image/x-icon">
        <!-- css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='adminPanel/adminPanel.css') }}">
        <!-- fonts -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
        </style>
    </head>
    <body>
        <h2>Welcome, {{ user }}!</h2>
        <p>You are now logged in. Remember to log out later</p>
        <br>
        <h2>Admin Coeff Data Table</h2>
        <table>
            <thead>
                <tr>
                    {% for col in data[0] %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data[1:] %}
                <tr>
                    {% for cell in row %}
                    <td><input type="text" value="{{ cell }}" readonly></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <label class="toggle-switch">
            <input type="checkbox" id="editToggle">
            <span class="slider"></span>
        </label>
        
        <span id="toggleLabel">Enable Editing</span>
        <button onclick="saveData()">Save</button>
        <br>
        <a href="{{ url_for('logout') }}">Logout</a>
        <script src="{{ url_for('static', filename='adminPanel/adminPanelScript.js') }}"></script>
    </body>
</html>
